/* General body styling */
  body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
  }

/* Headings */
  h1, h2, h3, h4 {
    color: #2C3E50;
      font-weight: 600;
  }

/* Code chunks */
  pre, code {
    background-color: #F8F8F8;
      border-radius: 5px;
    padding: 5px;
    font-size: 14px;
  }

/* Tables */
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
  }

table, th, td {
  border: 1px solid #DDD;
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #F2F2F2;
    font-weight: 600;
}

/* Highlights for volcano plot legend */
  .legend {
    font-weight: bold;
  }

/* Floating TOC */
  .tocify-wrapper {
    background-color: #F8F9FA;
      border: 1px solid #DDD;
    padding: 10px;
    border-radius: 5px;
  }
